body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f0f4f8;
    color: #333;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.array-container {
    margin-top: 25px;
    padding: 15px;
    background-color: #f5f7fa;
    border: 1px solid #e0e4e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
input {
    margin-bottom: 30px;
}

.input-group {
    margin-top: 25px;
}

.input-group input[type="text"] {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: calc(100% - 30px);
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.input-group input[type="text"]:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.input-group button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

